/* body background #cae7fc */
body{
    background-color: #bfdaed;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: rgb(47, 27, 134);
    margin: 0;
    padding: 0;
}
/*h1 color rgb(47, 27, 134) bold 40px centered*/
h1{
    color: rgb(47, 27, 134);
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* div id maindiv width 50% centered horizontally*/
#maindiv{
    width: 50%;
    margin: 0 auto;
    border: 3px solid rgb(81, 26, 95);
    border-radius: 50px;
    /*padding left right 1em top bottom 1.5em*/
    padding: 1.5em 1em;
    margin-top: 1em !important;
    /*shadow*/
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.24);
}

/*id predict center text color rgb(47, 27, 134) font size 40px*/
#predict{
    text-align: center;
    color: rgb(47, 27, 134);
    font-size: 30px;
}

/*button id submit color rgb(128, 159, 239) background color #9a1bba border radius 10px centered*/
#submit{
    width: 400px;
    border-radius: 30px;
    margin: 0 auto;
    display: block;
}

#cluster_info {
    /*center everything inside div*/
    text-align: center;
}